<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><img
            class="logo"
            src="https://www.freepnglogos.com/uploads/rick-and-morty-png/rick-and-morty-portal-shoes-white-clothing-zavvi-23.png"
            alt=""></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/character/?gender=male" routerLinkActive="active">Male</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/character/?gender=female" routerLinkActive="active">Female</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/character/?gender=genderless" routerLinkActive="active">Genderless</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/character/?gender=unknown" routerLinkActive="active">Unknown</a>
            </li>
        </ul>
    </div>
</nav>